.hamburger-menu {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  width: 2rem;
  height: 1.8rem;
  cursor: pointer;
}

.hamburger-menu.active > span {
  background-color: var(--golden);
}

.hamburger-menu > span {
  width: 100%;
  height: 20%;
  background-color: var(--white);
}
