.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  padding-inline: 6rem;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
}

.header--logo--link {
  height: 60%;
  user-select: none;
}

.header--logo {
  height: 100%;
}

.header--nav {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.header--nav > a {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  user-select: none;
}

.header--nav > a:hover,
.header--nav > a:hover * {
  -webkit-text-fill-color: var(--golden);
  color: var(--golden);
}

.header--nav--profile {
  display: flex;
}

.header--nav--profile img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .header {
    padding-inline: 2rem;
  }

  .header--nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    flex-direction: column;
    row-gap: 1.5rem;
    column-gap: 0;
    padding: 1.5rem;
    background-color: var(--white);
  }

  .header--nav.active {
    display: flex;
  }

  .header--nav > a,
  .header--nav > a * {
    -webkit-text-fill-color: var(--black);
    color: var(--black);
  }
}
