.watchlist-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  padding: 1rem;
}

.watchlist-page--title {
  text-transform: capitalize;
}

.watchlist-page--loading,
.watchlist-page--no-movies {
  font-size: 1.5rem;
}

.watchlist-page--thumbnails {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
